<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Regisztráció</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>
<div>

    <form th:action="@{/sessionCreate}" method="post">
        <input type="text" name="user" />
        <input type="text" name="pass" />
        <br> <input type="submit" value="Save Username" />
    </form>
</div>
<div>
    <h2>Messages</h2>
    <ul th:each="user : ${username}">
        <li th:text="${user}"></li>
    </ul>
</div>
<div>
    <form th:action="@{/sessionDestroy}" method="post">
        <input type="submit" value="Delete Username" />
    </form>
</div>
</body>
</html>