<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Dokumentumkezelő rendszer</title>

  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Fájlok Feltöltése</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{'logged'}">Fájlok listája
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fileUpload">Fájlok feltöltése</a>
        </li>
      </ul>
    </div>
    <form th:action="@{/search}" method="post">
      <div class="d-flex">
        <input type="text" name="search" id="search" class="form-control me-3" placeholder="Keresés">
        <button class="btn btn-primary me-3" type="submit">Keresés</button>
      </div>
    </form>
    <span class="text-white me-1">Üdv!</span>
    <span class="text-white me-3" th:text="${username}"></span>
    <form th:action="@{/sessionDestroy}" method="post">
      <button type="submit" class="btn btn-primary me-3">Kilépés</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="d-flex min-vh-100 align-items-center justify-content-center">

      <div class="form-outline mb-4 text-center">

      <th:block th:each="file: ${searchResult}">
        <br />
        <hr />
        <br />
        <div>
          <h6 th:text="@{'Cégnév: ' + ${file.companyName}}"></h6>
          <h6 th:text="@{'Teljesített órák száma: ' + ${file.lengthOfWork}}"></h6>
          <h6 th:text="@{'Neptun kód: ' + ${file.neptunCode}}"></h6>
          <h6 th:text="@{'Teljesítés féléve: ' + ${file.semester}}"></h6>
          <h6 th:text="@{'Kurzuskód: ' + ${file.subjectCode}}"></h6>
          <a th:href="@{'/' + ${file.fileId}}">Fájl: [[${file.fileName}]]</a>
          <form th:action="@{/fileDelete}" method="post">
            <button type="submit" class="btn btn-danger" th:name="delete" th:value="${file.fileId}">Törlés</button>
          </form>
        </div>
      </th:block>
      </div>
    </div>
  </div>
</div>

</body>
</html>